@import "materialize";
$nav-color: #ee6e73;

.song-lyrics{
  white-space: pre;
  margin-bottom: 15px;

  .has-translation{
    position: relative;
    font-weight: bold;
    cursor: pointer;

    .translation{
      visibility: hidden;
      background-color: #444;
      color: #fff;
      text-align: center;
      padding: 5px 10px;
      border-radius: 2px;
      top: 125%;
      left: 0;
      position: absolute;
      z-index: 1;
    }
  }

  .has-translation:hover{
    .translation{
      visibility: visible;
    }
  }
}

.buttons-bar-left > .btn{
  margin-right: 5px;
};

ul.collection{
  li.collection-item:not(.active):hover,
  a.collection-item:not(.active):hover{
    background-color: #eee;
  }

  li.collection-item, a.collection-item{
    color: inherit;

    p{
      margin: 0;
    }

    p.song-author,
    p.translation-foreign-meaning{
      font-weight: bold;
    }

    p.song-title,
    p.translation-native-meaning{
      margin-left: 5px;
    }
  }
}

#translations-list{
  .collection-item .hidden{
      visibility: hidden;
  }

  .collection-item button{
    opacity :0;
  }

  .collection-item:hover button{
    opacity: 1;
  }
}

#main-page-banner{
  width: 100%;
  padding: 5rem 0;
  background-color: $nav-color;

  h1, h2, h3, h4, h5{
    color: #fff;
    font-weight: 200;
  }

  p{
    font-size: 1.2em;
    font-weight: 300;
    color: #fff;
  }
}

#login-form-validation-error{
  @extend .card-title;
  color: red;
}
