@import "materialize";

pre{
  font-family: inherit;
}

.buttons-bar-left > .btn{
  margin-right: 5px;
};

ul.collection{
  li.collection-item, a.collection-item{
    color: inherit;

    p{
      margin: 0;
    }

    p.song-author,
    p.translation-foreign-meaning{
      font-weight: bold;
    }

    p.song-title,
    p.translation-native-meaning{
      margin-left: 5px;
    }
  }
}
